{% extends "base.html" %}
{% block title %} Home - {{super()}}  {% endblock %}
{% block jumbotron %}
<div class="example z-depth-3">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-5 offset-1">
                    <h1 class="display-4">short50.ly</h1>
                    <p class="lead"><strong>Your best URL friend.</strong></p>
                    <p class="lead"><strong>Get recognised, try it now...</strong></p>
                    <span>
                        <i class="fas fa-chart-bar"></i>
                        <i class="fas fa-cogs"></i>
                        <i class="fas fa-cut"></i>
                        <i class="fas fa-magic"></i>
                        <i class="fas fa-sort-amount-up"></i>
                    </span>
                </div>
                <div class="col-md-3 offset-2">
                    <p style="text-align:center">Shortening, branding and promoting your urls with our services Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock jumbotron %}
{% block body%}
{% endblock %}